<main class="flex items-center justify-center flex-col h-full w-full m-auto select-none">
	<section class="flex flex-col justify-center items-center gap-2.5 w-[408px] h-screen">
		<div class="text-center">
			<h1 class="text-[40px] font-semibold">Algo deu errado.</h1>
			<h2 class="text-lg font-light">Parece que não encontramos essa página.</h2>
		</div>

		<img src="ilust-404.png" alt="Ilustração" class="w-[338px] pointer-events-none" />

		<app-secondary-button text="Voltar para o início" class="w-full" linkTo="/cadastro" />
	</section>
</main>
