@if (!expandida) {
	@if (header) {
		<tr
			class="flex justify-between w-full border-1 border-gray-900/15 text-gray-900/50 px-4 py-2.5 rounded-t-md items-center"
		>
			<td class="w-52">Data</td>
			<td class="w-52">Descrição</td>
			<td class="w-52">Estado</td>
			<td class="w-52 text-right"></td>
		</tr>
	} @else {
		<div
			class="flex justify-between w-full border-1 border-t-0 border-gray-900/15 px-4 py-2.5 items-center"
			[class.rounded-b-md]="ultima"
		>
			<td class="w-52">
				{{ dataSolicitacao.getDate() + 1 }}/{{ dataSolicitacao.getMonth() + 1 }}/{{ dataSolicitacao.getFullYear() }}
			</td>
			<td class="w-52">{{ descricao }}</td>
			<td class="w-52">{{ situacao }}</td>
			<td class="w-52 text-right h-4 flex items-center justify-end">
				<button class="opacity-50 cursor-pointer" (click)="toggleExpansion()">Mostrar mais</button>
			</td>
		</div>
	}
} @else {
	<app-tabela-expandida
		[dataSolicitacao]="dataSolicitacao"
		[situacao]="situacao"
		[descricao]="descricao"
		[categoria]="categoria"
		[funcionario]="funcionario"
		[valorOrcamento]="valorOrcamento"
		[dataOrcamento]="dataOrcamento"
		[ultima]="ultima"
		(onToggleExpansion)="toggleExpansion()"
	/>
}
