@if (!expandida) {
	@if (tipo === 'header') {
		<tr
			class="flex justify-between w-full border-1 border-gray-900/15 text-gray-900/50 px-4 py-2.5 rounded-t-md items-center"
		>
			<td class="w-52">Data</td>
			<td class="w-52">Descrição</td>
			<td class="w-52">Estado</td>
			<td class="w-52 text-right"></td>
		</tr>
	} @else if (tipo === 'regular') {
		<div class="flex justify-between w-full border-1 border-t-0 border-gray-900/15 px-4 py-2.5 items-center">
			<td class="w-52">
				{{ dataSolicitacao.getDate() }}/{{ dataSolicitacao.getMonth() }}/{{ dataSolicitacao.getFullYear() }}
			</td>
			<td class="w-52">{{ descricao }}</td>
			<td class="w-52">{{ estado }}</td>
			<td class="w-52 text-right h-4 flex items-center justify-end">
				@if (!(estado.toUpperCase() === 'APROVADA')) {
					<button class="opacity-50 cursor-pointer" (click)="toggleExpansion()">Mostrar mais</button>
				}
			</td>
		</div>
	} @else if (tipo === 'last') {
		<div
			class="flex justify-between w-full border-1 border-t-0 border-gray-900/15 px-4 py-2.5 rounded-b-md items-center"
		>
			<td class="w-52">
				{{ dataSolicitacao.getDate() }}/{{ dataSolicitacao.getMonth() }}/{{ dataSolicitacao.getFullYear() }}
			</td>
			<td class="w-52">{{ descricao }}</td>
			<td class="w-52">{{ estado }}</td>
			<td class="w-52 text-right h-4 flex items-center justify-end">
				@if (!(estado.toUpperCase() === 'APROVADA')) {
					<button class="opacity-50 cursor-pointer" (click)="toggleExpansion()">Mostrar mais</button>
				}
			</td>
		</div>
	} @else {
		<p>Erro: nenhum tipo {{ tipo }} encontrado.</p>
	}
} @else {
	<app-tabela-expandida
		[dataSolicitacao]="dataSolicitacao"
		[estado]="estado"
		[descricao]="descricao"
		[categoria]="categoria"
		[funcionario]="funcionario"
		[dataOrcamento]="dataOrcamento"
		(onToggleExpansion)="toggleExpansion()"
	/>
}
