<td class="p-5 w-80 h-fit outline outline-gray-950/20 rounded-md flex flex-col justify-between gap-8">
	<div>
		<h1 class="text-sm font-light">Seu equipamento será consertado por...</h1>
		<p class="text-4xl text-primary font-semibold">
			{{ precoOrcamento | currency: 'BRL' }}
		</p>
	</div>

	<div class="flex flex-col gap-2.5">
		<app-button text="Aprovar orçamento" (funcao)="aprovarOrcamento()" />
		<app-secondary-button text="Rejeitar orçamento" (funcao)="rejeitarOrcamento()" />
		<app-mensagem
			[showMessage]="showMessage"
			[mensagem]="`Serviço aprovado no valor ${precoOrcamento | currency: 'BRL'}`"
		/>
	</div>
</td>
