<tr
	class="flex justify-between w-full h-[250px] border-1 border-t-0 border-gray-900/15 px-4 py-2.5 items-center"
	[class.rounded-b-md]="ultima"
>
	<td class="flex flex-col h-full justify-between">
		<span>
			<app-table-label>Data da solicitação</app-table-label>
			<p class="w-52">
				{{ dataSolicitacao | date: 'dd/MM/yyyy' }}
			</p>
		</span>

		<span>
			<app-table-label>Descrição do equipamento</app-table-label>
			<p class="w-52">{{ descricao }}</p>
		</span>

		<span>
			<app-table-label>Categoria do equipamento</app-table-label>
			<p class="w-52">{{ categoria.descricao }}</p>
		</span>
	</td>

	<td class="flex flex-col h-full justify-between">
		<span>
			<app-table-label>Estado atual</app-table-label>
			<p class="w-52">{{ situacao }}</p>
		</span>

		<span>
			<app-table-label>Funcionário(a)</app-table-label>
			<p class="w-52">{{ funcionario ? funcionario.nome : 'N/A' }}</p>
		</span>

		<span>
			<app-table-label>Data do orçamento</app-table-label>
			<p class="w-52">
				@if (dataOrcamento) {
					{{ dataOrcamento | date: 'dd/MM/yyyy' }}
				} @else {
					N/A
				}
			</p>
		</span>
	</td>

	@if (situacao === 'Arrumada') {
		<app-arrumado-card />
	} @else if (situacao === 'Orçada' && valorOrcamento) {
		<app-orcada-card [precoOrcamento]="valorOrcamento" />
	} @else if (situacao === 'Aberta') {
		<app-aberta-card />
	} @else if (situacao === 'Aprovada') {
		<app-aprovada-card />
	} @else if (situacao === 'Rejeitada') {
		<app-rejeitada-card />
	} @else {
		<span class="w-52"></span>
	}

	<td class="max-w-52 text-right h-full flex items-start justify-end">
		<button class="opacity-50 cursor-pointer" (click)="toggleExpansion()">Mostrar menos</button>
	</td>
</tr>
