<tr class="flex justify-between w-full h-full border-1 border-t-0 border-gray-900/15 px-4 py-2.5 items-center">
	<td>
		<app-table-label>Data da solicitação</app-table-label>
		<p class="w-52">
			{{ dataSolicitacao.getDate() }}/{{ dataSolicitacao.getMonth() }}/{{ dataSolicitacao.getFullYear() }}
		</p>

		<app-table-label>Descrição do equipamento</app-table-label>
		<p class="w-52">{{ descricao }}</p>

		<app-table-label>Categoria do equipamento</app-table-label>
		<p class="w-52">{{ categoria.descricao }}</p>
	</td>

	<td>
		<app-table-label>Estado atual</app-table-label>
		<p class="w-52">{{ estado }}</p>

		<app-table-label>Funcionário(a)</app-table-label>
		<p class="w-52">{{ funcionario.nome }}</p>

		<app-table-label>Data do orçamento</app-table-label>
		<p class="w-52">{{ dataOrcamento.getDate() }}/{{ dataOrcamento.getMonth() }}/{{ dataOrcamento.getFullYear() }}</p>
	</td>

	<td class="w-52 text-right h-full flex items-start justify-end">
		<button class="opacity-50 cursor-pointer" (click)="toggleExpansion()">Mostrar menos</button>
	</td>
</tr>
