<main class="flex gap-10 h-full">
	<app-sidebar-funcionario />
	<section class="flex flex-col py-10 gap-[30px] pr-10 w-full overflow-y-auto">
		<div>
			<h1 class="text-[40px] font-semibold text-[#4931A9]">Solicitações em aberto</h1>
			<h2 class="opacity-50 font-light text-[18px]">
				Aqui encontram-se todas as solicitações que ainda não foram analisadas por nenhum funcionário.
			</h2>
		</div>

		<div class="flex justify-between w-full items-center">
			<app-input-pesquisar placeholder="Pesquise uma solicitação..." (pesquisarClick)="pesquisarSolicitacao($event)" />
			<div class="flex gap-8">
				<div class="flex items-center justify-center gap-3">
					<label for="dataMin">De</label>
					<input
						name="dataMin"
						type="date"
						value="22-01-2023"
						class="bg-gray-900/15 px-2.5 py-[4px] rounded-md text-gray-900/70 outline-1 outline-gray-900/30"
						[(ngModel)]="dataMin"
						(change)="filtrarPorData()"
					/>
				</div>
				<div class="flex items-center justify-center gap-3">
					<label for="dataMax">Até</label>
					<input
						name="dataMax"
						type="date"
						value="22-01-2023"
						class="bg-gray-900/15 px-2.5 py-[4px] rounded-md text-gray-900/70 outline-1 outline-gray-900/30"
						[(ngModel)]="dataMax"
						(change)="filtrarPorData()"
					/>
				</div>
			</div>
		</div>

		<!-- Tabela -->
		@if (solicitacoesAbertas && solicitacoesAbertas.length > 0) {
			<div class="h-full">
				<app-tabela
					[columns]="headersTabela"
					[gridData]="solicitacoesPaginadas"
					[tabelaSolicitacoesAbertas]="true"
					(orcamentoClicked)="toggleModal($event)"
				/>
			</div>
			<!-- Controles de Paginação -->
			<div class="flex justify-end items-center gap-1 mt-4">
				<button
					(click)="mudarPagina(paginaAtual - 1)"
					[disabled]="paginaAtual === 1"
					class="text-xl text-black/70 cursor-pointer flex items-center disabled:text-black/30"
				>
					<ng-icon name="matChevronLeftOutline" />
				</button>
				@for (p of [].constructor(totalPaginas); track $index) {
					<span>
						<button
							(click)="mudarPagina($index + 1)"
							[ngClass]="{ 'bg-black/20': paginaAtual === $index + 1 }"
							class="px-2.5 py-[3px] rounded-md cursor-pointer"
							[disabled]="paginaAtual === $index + 1"
						>
							{{ $index + 1 }}
						</button>
					</span>
				}
				<button
					(click)="mudarPagina(paginaAtual + 1)"
					[disabled]="paginaAtual === totalPaginas"
					class="text-xl text-black/70 cursor-pointer flex items-center disabled:text-black/30"
				>
					<ng-icon name="matChevronRightOutline" />
				</button>
			</div>
		} @else {
			<p>Não há nenhuma solicitação aberta.</p>
		}

		<!-- Modal -->
		@if (modal) {
			<div class="fixed inset-0 backdrop-blur-sm flex items-center justify-center z-50">
				<div class="bg-white rounded-2xl shadow-2xl w-full max-w-md p-6">
					<div class="flex justify-between items-center mb-4">
						<h2 class="text-xl font-semibold text-gray-800">Fazer orçamento</h2>
						<button
							(click)="toggleModal()"
							class="cursor-pointer rounded-full hover:bg-gray-950/5 p-1 w-7 h-7 duration-150"
						>
							✖
						</button>
					</div>

					<!-- ALERTA DE ERRO -->
					@if (mensagemErroOrcamento) {
						<div class="bg-red-500 text-white text-sm rounded px-4 py-2 mb-3 animate-fade-in">
							{{ mensagemErroOrcamento }}
						</div>
					}

					<form [formGroup]="formOrcamento" (ngSubmit)="fazerOrcamento(solicitacaoModal)">
						<div class="mb-4 flex gap-3 flex-col">
							<app-informacao-detalhe label="Descrição" [dado]="solicitacaoModal.descricao" />
							<app-informacao-detalhe label="Categoria" [dado]="solicitacaoModal.categoria.descricao" />
							<app-informacao-detalhe label="Defeito" [dado]="solicitacaoModal.defeito" />
							<app-informacao-detalhe label="Situação atual" [dado]="solicitacaoModal.situacao" />
							<app-informacao-detalhe
								label="Data da solicitação"
								[dado]="solicitacaoModal.dataSolicitacaoAbertura | date: 'dd/MM/yyyy - HH:mm:ss'"
							/>
							<app-informacao-detalhe label="Cliente" [dado]="solicitacaoModal.cliente.nome" />

							<app-input-text
								label="Valor do orçamento"
								controlName="orcamento"
								type="number"
								placeholder="R$ 23.45"
								[required]="true"
								[min]="1"
							/>
						</div>

						<div class="flex flex-col w-full gap-3 justify-end space-x-3">
							<app-button
								text="Fazer orçamento"
								type="submit"
								class="w-full"
								[disabledCondition]="this.formOrcamento.invalid"
							/>
							<app-secondary-button text="Cancelar" (funcao)="toggleModal()" class="w-full" />
						</div>
					</form>
				</div>
			</div>
		}
	</section>
</main>
