<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="flex bg-white shadow-lg rounded-2xl overflow-hidden">
    <div class="flex flex-col justify-center w-[675px] p-8">
      <div>
        <h1 class="text-2xl font-bold text-indigo-700 flex items-center gap-2">
          <img class="w-[27px]" src="person.svg" alt="Ícone Cadastro">
          <span class="text-[34px]">Cadastro</span>
        </h1>
        <h2 class="font-light text-gray-500 mt-1">
          Preencha os campos abaixo para criar uma conta.
        </h2>
      </div>

      <form *ngIf="!submitted" [formGroup]="cadastroForm" (ngSubmit)="onSubmit()" class="mt-4">
        <div class="grid grid-cols-2 gap-[15px] gap-y-[30px]">
          <app-input-text [label]="'Nome Completo:'" controlName="nome" [type]="'text'" [placeholder]="'Ex: Davi Brito'" [required]="true"></app-input-text>
          <app-input-text [label]="'Email:'" controlName="email" [type]="'email'" [placeholder]="'Ex: email@teste.com'" [required]="true"></app-input-text>
          <app-input-text [label]="'CPF:'" controlName="cpf" [type]="'text'" [placeholder]="'Ex: 000.000.000-00'" [mask]="'000.000.000-00'" [required]="true"></app-input-text>
          <app-input-text [label]="'Telefone:'" controlName="tel" [type]="'tel'" [placeholder]="'Ex: (00) 00000-0000'" [mask]="'(00) 00000-0000'" [required]="true"></app-input-text>
          <app-input-text [label]="'CEP:'" controlName="cep" [type]="'text'" [placeholder]="'Ex: 00000-000'" [mask]="'00000-000'" [required]="true"></app-input-text>
          <app-input-text [label]="'Estado:'" controlName="estado" [type]="'text'" [placeholder]="'Ex: PR'" [mask]="'AA'" [required]="true"></app-input-text>
          <app-input-text [label]="'Cidade:'" controlName="cidade" [type]="'text'" [placeholder]="'Ex: Curitiba'" [required]="true"></app-input-text>
          <app-input-text [label]="'Endereco:'" controlName="endereco" [type]="'text'" [placeholder]="'Ex: Rua das Palmeiras'" [required]="true"></app-input-text>
          <app-input-text [label]="'Numero:'" controlName="numero" [type]="'text'" [placeholder]="'Ex: 100'" [required]="true"></app-input-text>
          <app-input-text [label]="'Complemento:'" controlName="complemento" [type]="'text'" [placeholder]="'Ex: 1'" [required]="false"></app-input-text>
        </div>

        <div class="mt-2 min-h-[42px] text-center flex flex-col justify-center items-center">
          <div *ngIf="cepNaoEncontrado" class="text-red-600 text-sm">
            ⚠️ CEP não encontrado. Verifique o valor informado.
          </div>

          <div *ngIf="cadastroForm.invalid && cadastroForm.touched" class="text-red-600 text-sm mt-1">
            ⚠️ Preencha todos os campos obrigatórios corretamente.
          </div>
        </div>

        <div class="flex flex-col gap-2 mt-2">
          <div class="flex justify-center mt-4">
            <button
              type="submit"
              [disabled]="cadastroForm.invalid"
              class="justify-center cursor-pointer text-white text-sm font-semibold w-[300px] p-2.5 rounded-lg transition-transform transform hover:-translate-y-1 active:-translate-y-0.5
                bg-indigo-700 hover:bg-indigo-800 disabled:bg-gray-400 disabled:cursor-not-allowed"
            >
              Confirmar
            </button>
          </div>

          <p class="text-sm text-gray-500 text-center">
            Já possui uma conta?
            <a routerLink="/login" class="text-indigo-600 hover:underline">Faça o login</a>
          </p>
        </div>
      </form>
    </div>

    <div class="w-[531px]">
      <img src="cadastro.svg" alt="Ilustração de Cadastro" class="w-full h-full object-cover">
    </div>
  </div>
</div>

<router-outlet></router-outlet>
