<table class="flex flex-col">
	<thead>
		<tr
			class="flex justify-between w-full border-1 border-gray-900/15 text-gray-900/50 px-4 py-2.5 rounded-t-md items-center"
		>
			@for (col of columns; track $index) {
				<td [class.text-right]="$index + 1 === columns.length">{{ col }}</td>
			}
		</tr>
	</thead>
	<tbody>
		@for (row of rows; track $index) {
			<tr
				class="flex justify-between w-full border-1 border-t-0 border-gray-900/15 px-4 py-2.5 items-center"
				[class.rounded-b-md]="$index + 1 === rows.length"
			>
				@for (col of columns; track $index) {
					<td>
						@if (columnTemplates?.[col]) {
							<ng-container>
								<ng-container
									*ngTemplateOutlet="columnTemplates[col]; context: { $implicit: row[col], row: row }"
								></ng-container>
							</ng-container>
						} @else {
							<p>teste</p>
						}
					</td>
				}
			</tr>
		}
	</tbody>
</table>
