@import 'tailwindcss';

@theme {
	--color-primary: #4931a9;
	--color-orange: #f28c28;
	--color-purple: #ad11ad;
}

html,
body {
	font-family: 'Poppins', sans-serif;
	height: 100%;
}

body.no-scroll {
	overflow: hidden;
}

/* Garantir que imagens tenham fundo transparente quando necessário */
img {
	background: transparent;
}
