<main class="flex gap-10 h-full">
	<app-sidebar-funcionario />
	<section class="flex flex-col py-10 gap-[30px] pr-10 w-full overflow-y-auto">
		<div>
			<h1 class="text-[40px] font-semibold text-[#4931A9]">Suas solicitações</h1>
			<h2 class="opacity-50 font-light text-[18px]">
				Aqui, você pode gerenciar todas as solicitações que estão atribuídas a você.
			</h2>
		</div>

		<div class="flex justify-between w-full items-center">
			<app-input-pesquisar />
			<div>
				<input
					type="date"
					value="22-01-2023"
					class="bg-gray-900/15 px-2.5 py-[4px] rounded-md ml-5 text-gray-900/70 outline-1 outline-gray-900/30"
				/>
			</div>
		</div>

		<!-- Tabela -->
		@if (listaSolicitacoes && listaSolicitacoes.length > 0) {
			<table class="flex flex-col">
				<app-tabela-solicitacoes-funcionario [header]="true" />
				<tbody>
					@for (solicitacao of listaSolicitacoes; track $index) {
						<app-tabela-solicitacoes-funcionario
							[solicitacao]="solicitacao"
							[ultima]="$index + 1 === listaSolicitacoes.length"
							(efetuarManutencaoClicked)="toggleModalManutencao($event)"
						/>
					}
				</tbody>
				<p class="mt-3 text-sm text-gray-900/70 font-light">
					Exibindo 1-{{ listaSolicitacoes.length }} itens de {{ listaSolicitacoes.length }} itens.
				</p>
			</table>
		} @else {
			<p>Não há nenhuma solicitação atribuída a você.</p>
		}

		<!-- Modal -->
		@if (modalEfetuarManutencao) {
			<div class="fixed inset-0 backdrop-blur-sm flex items-center justify-center z-50">
				<div class="bg-white rounded-2xl shadow-2xl w-full max-w-md p-6">
					<div class="flex justify-between items-center mb-4">
						<h2 class="text-xl font-semibold text-gray-800">Efetuar manutenção</h2>
						<button
							(click)="toggleModalManutencao()"
							class="cursor-pointer rounded-full hover:bg-gray-950/5 p-1 w-7 h-7 duration-150"
						>
							✖
						</button>
					</div>

					<form [formGroup]="formManutencao" (ngSubmit)="efetuarManutencao(solicitacaoModal)">
						<div class="mb-4 flex gap-3 flex-col">
							<div class="flex w-full gap-2">
								<app-informacao-detalhe class="w-full" label="Descrição" [dado]="solicitacaoModal.descricao" />
								<app-informacao-detalhe
									class="w-full"
									label="Categoria"
									[dado]="solicitacaoModal.categoria.descricao"
								/>
							</div>
							<div class="flex w-full gap-2">
								<app-informacao-detalhe class="w-full" label="Defeito" [dado]="solicitacaoModal.defeito" />
								<app-informacao-detalhe class="w-full" label="Situação atual" [dado]="solicitacaoModal.situacao" />
							</div>

							<div class="flex w-full gap-2">
								<app-informacao-detalhe
									class="w-full"
									label="Data da solicitação"
									[dado]="solicitacaoModal.dataSolicitacao | date: 'dd/MM/yyyy - HH:mm:ss'"
								/>
								<app-informacao-detalhe class="w-full" label="Cliente" [dado]="solicitacaoModal.cliente.nome" />
							</div>

							<app-input-text
								label="Descrição da manutenção"
								controlName="descricaoManutencao"
								type="text"
								placeholder="HD trocado"
								[required]="true"
							/>
							<app-input-text
								label="Orientações para o cliente"
								controlName="orientacoes"
								type="text"
								placeholder="Não ligar fora da tomada"
								[required]="true"
							/>
						</div>

						<div class="flex flex-col w-full gap-3 justify-end space-x-3">
							<app-button
								text="Efetuar manutenção"
								type="submit"
								class="w-full"
								[disabledCondition]="this.formManutencao.invalid"
							/>
							<app-secondary-button text="Redirecionar manutenção" (funcao)="toggleModalManutencao()" class="w-full" />
						</div>
					</form>
				</div>
			</div>
		}
	</section>
</main>
