<main class="flex gap-10">
    <div class="flex flex-col items-start justify-start w-[283px] bg-[#4931A9] text-white h-[100vh]">
        <div class="px-[30px] pt-10 pb-2.5">
            <h1 class="text-[20px] font-semibold">Olá, Guilherme.</h1>
            <h2 class="opacity-50 text-sm">Selecione uma página.</h2>
        </div>
        <a href="" class="px-[30px] py-2.5 font-semibold bg-[#331F80] w-full flex items-center gap-1">
            <mat-icon>swap_horiz</mat-icon> <p>Solicitações</p>
        </a>
        <a href="" class="px-[30px] py-2.5 w-full hover:bg-[#3e2996] duration-150 flex items-center gap-1">
            <mat-icon>add</mat-icon> <p>Nova solicitação</p>
        </a>
    </div>

    <section class="flex flex-col py-10 gap-[30px]">
        <div>
            <h1 class="text-[40px] font-semibold text-[#4931A9]">Suas solicitações</h1>
            <h2 class="opacity-50 font-light">Aqui encontram-se todas as solicitações que você realizou.</h2>
        </div>
        
        <div class="flex gap-5 items-center justify-center shadow-[0px_0px_5px_rgba(0,0,0,0.25)] p-2.5 rounded-md">
            <div>
                <label class="text-xs opacity-50 font-light">Data</label>
                <p>10/03/2025</p>
            </div>
            <div>
                <label class="text-xs opacity-50 font-light">Equipamento</label>
                <p>Notebook com defeito</p>
            </div>
            <div>
                <label class="text-xs opacity-50 font-light">Estado</label>
                <p>Arrumada</p>
            </div>
            <button class="bg-[#4931A9] text-white px-[25px] py-2.5 rounded-md cursor-pointer hover:bg-[#3e2996] duration-150">Pagar serviço</button>
        </div>
    </section>
</main>