<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="inline-flex justify-start items-center">
        <div
            class="w-[538px] h-[664px] p-7 bg-white rounded-tl-3xl rounded-bl-3xl shadow-[0px_2px_20px_0px_rgba(0,0,0,0.15)] inline-flex flex-col justify-center items-center gap-7">
            <div class="flex flex-col justify-center items-center">
                <div class="inline-flex justify-start items-center gap-3">
                    <div class="w-7 h-8 bg-indigo-800"></div>
                    <div class="justify-start text-indigo-800 text-4xl font-semibold font-['Poppins']">Login</div>
                </div>
                <div class="justify-start text-black text-opacity-70 text-base font-['Poppins']">Bem-vindo(a) de volta.
                </div>
            </div>
            <div class="flex flex-col justify-start items-start gap-2.5">
                <div
                    class="w-72 p-2.5 bg-white rounded-md shadow-[0px_0px_5px_0px_rgba(0,0,0,0.25)] outline outline-[0.50px] outline-offset-[-0.50px] outline-black outline-opacity-20 inline-flex justify-start items-center gap-2.5">
                    <div class="justify-start text-black text-opacity-40 text-sm font-normal font-['Poppins']">Email
                    </div>
                </div>
                <div
                    class="w-72 p-2.5 rounded-md shadow-[0px_0px_5px_0px_rgba(0,0,0,0.25)] outline outline-[0.50px] outline-offset-[-0.50px] outline-black outline-opacity-20 inline-flex justify-start items-center gap-2.5">
                    <div class="justify-start text-black text-opacity-40 text-sm font-normal font-['Poppins']">Senha
                    </div>
                </div>
            </div>
            <div data-tipo="Default"
                class="w-72 p-2.5 bg-indigo-800 rounded-md shadow-[0px_0px_5px_0px_rgba(0,0,0,0.25)] inline-flex justify-center items-center gap-2.5">
                <div class="justify-start text-white text-sm font-semibold font-['Poppins']">Confirmar</div>
            </div>
            <div class="justify-start"><span class="text-black text-opacity-50 text-xs font-normal font-['Poppins']">Não
                    possui uma conta? </span><span
                    class="text-indigo-800 text-xs font-normal font-['Poppins'] underline">Faça o cadastro.</span></div>
        </div>
        <img class="w-[531px] h-[664px] rounded-tr-3xl rounded-br-3xl" src="cadastro.svg" />
    </div>
</div>