<div class="w-full h-screen bg-[#EAEAEA] flex justify-center items-center">

    <div class="flex rounded-2xl overflow-hidden shadow-xl bg-white max-w-4xl w-full min-h-[600px] min-w-[1000px]">

      <div class="flex-1 p-10 flex flex-col justify-center items-center gap-4">

        <div class="flex flex-col items-center gap-1">
          <span class="text-3xl font-bold text-[#4931A9] flex items-center gap-2">
            <img src="person.svg" alt="">
            <span class="material-icons"></span> Login
          </span>
          <p class="text-gray-500">Bem-vindo(a) de volta.</p>
        </div>

        <div class="flex flex-col gap-3 w-full max-w-xs">
          <input
            type="email"
            placeholder="Email"
            class="py-2 px-4 rounded-md border border-gray-300 outline-none focus:ring-1 ring-[#4931A9] placeholder:text-gray-400"
          />
          <input
            type="password"
            placeholder="Senha"
            class="py-2 px-4 rounded-md border border-gray-300 outline-none focus:ring-1 ring-[#4931A9] placeholder:text-gray-400"
          />
          <button class="py-2 bg-[#4931A9] text-white font-semibold rounded-md hover:bg-[#3b2788] transition">
            Confirmar
          </button>
        </div>


        <p class="text-sm text-gray-500">
          Não possui uma conta?
          <a routerLink="/cadastro" routerLinkActive="router-link-active" class="text-[#4931A9] underline">Faça o cadastro.</a>
        </p>


      </div>

      <div class="hidden md:block flex-1">
        <img
          src="cadastro.svg"
          alt="Imagem lateral"
          class="w-full h-full object-cover"
        />
      </div>

    </div>

  </div>
  <router-outlet></router-outlet>

