<div class="w-full h-screen bg-[#EAEAEA] flex justify-center items-center">
	<div class="flex rounded-2xl overflow-hidden shadow-xl bg-white max-w-4xl w-full min-h-[789px] min-w-[1300px]">
		<div class="flex-1 p-10 flex flex-col justify-center items-center gap-4">
			<div class="flex flex-col items-center gap-1">
				<img src="logo.png" class="w-9 select-none pointer-events-none" alt="Logo" />
				<h1 class="text-black select-none">Login no repair.io</h1>
			</div>

			<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-3 w-full max-w-xs">
				<div>
					<app-input-text
						label="Email"
						type="email"
						placeholder="email@example.com"
						controlName="email"
						[required]="true"
					/>
					@if (loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)) {
						<div class="text-red-500 text-sm mt-1">
							<span *ngIf="loginForm.get('email')?.errors?.['required']">Email é obrigatório</span>
							<span *ngIf="loginForm.get('email')?.errors?.['email']">Formato de email inválido</span>
						</div>
					}
				</div>
				<div>
					<app-input-text
						label="Senha"
						type="password"
						placeholder="Sua senha"
						controlName="password"
						[required]="true"
					/>

					@if (
						loginForm.get('password')?.invalid &&
						(loginForm.get('password')?.dirty || loginForm.get('password')?.touched)
					) {
						<div class="text-red-500 text-sm mt-1">
							<span *ngIf="loginForm.get('password')?.errors?.['required']">Senha é obrigatória</span>
						</div>
					}
				</div>

				@if (invalidCredentials) {
					<p class="text-red-500 text-sm mt-1">Email ou senha incorretos.</p>
				}

				<app-button text="Confirmar" type="submit" [disabledCondition]="!loginForm.valid" />
			</form>

			<p class="text-sm text-gray-500">
				Não possui uma conta?
				<a routerLink="/cadastro" routerLinkActive="router-link-active" class="text-[#3238AB] underline"
					>Faça o cadastro.</a
				>
			</p>
		</div>

		<div class="hidden md:block flex-1">
			<img src="ilust-login.png" alt="Imagem lateral" class="w-[600px] object-cover" />
		</div>
	</div>
</div>
<router-outlet></router-outlet>
