<div class="w-full h-screen flex justify-center items-center bg-radial from-white to-[#7E84F0]/20">
	<div class="flex p-10 flex-col justify-center items-center gap-10">
		<div class="flex flex-col items-center gap-1">
			<a routerLink="/home" class="cursor-pointer">
				<img src="logo.png" class="w-9 select-none hover:opacity-80 transition-opacity" alt="Logo" />
			</a>
			<h1 class="text-black select-none font-semibold text-xl">Login no repair.io</h1>
		</div>

		<form
			[formGroup]="loginForm"
			(ngSubmit)="onSubmit()"
			class="flex flex-col w-[513px] rounded-lg shadow-xl bg-white p-10 gap-8"
		>
			<div>
				<app-input-text
					label="Email"
					type="email"
					placeholder="email@example.com"
					controlName="email"
					[required]="true"
				/>
				@if (loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)) {
					<div class="text-red-500 text-sm mt-1">
						<span *ngIf="loginForm.get('email')?.errors?.['required']">Email é obrigatório</span>
						<span *ngIf="loginForm.get('email')?.errors?.['email']">Formato de email inválido</span>
					</div>
				}
			</div>

			<div>
				<app-input-text label="Senha" type="password" placeholder="Sua senha" controlName="senha" [required]="true" />

				@if (
					loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)
				) {
					<div class="text-red-500 text-sm mt-1">
						@if (loginForm.get('password')?.errors?.['required']) {
							<span>Senha é obrigatória</span>
						}
					</div>
				}
			</div>

			@if (invalidCredentials) {
				<p class="text-red-500 text-sm mt-1">Email ou senha incorretos.</p>
			}

			<app-button text="Login" type="submit" [disabledCondition]="!loginForm.valid" />
			<p class="text-sm text-center">
				Não possui uma conta?
				<a routerLink="/cadastro" routerLinkActive="router-link-active" class="text-[#3238AB] underline"
					>Faça o cadastro.</a
				>
			</p>
		</form>
	</div>

	<img src="ilust-login.png" alt="Imagem lateral" class="w-[600px] object-cover" />
</div>
<router-outlet></router-outlet>
